@media (min-width: 768px) {
  :root {
    --header-footer-padding: 20px;
    --intersection-gap: 80px;
    --first-intersection-gap: 60px;
    --main-padding-inline: 20px;
    --header-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --decorative-element-inset: 20px;
    --main-margin: 60px;
  }

  .header {
    gap: 20px;
  }

  .header__title {
    margin: -20px;
  }

  .header__text {
    inline-size: 364px;
    justify-self: end;
  }

  .section__reasons,
  .section__advice {
    grid-template-columns: 1fr 2fr;
    grid-column-gap: var(--grid-column-gap);
  }

  .section__reasons .article__title:first-child,
  .section__advice .article__title:first-child {
    margin-block-start: 0;
  }

  .section__examples .section__title {
    inline-size: 236px;
  }

  .gallery__box {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__title {
    margin-block-end: 20px;
  }
  .picture-sunset {
    grid-column-start: span 2;
  }

  .picture-ice-cream {
    grid-row-start: span 2;
    block-size: 100%;
    object-fit: cover;
  }

  .picture-tape {
    grid-row-start: span 2;
    block-size: 100%;
    object-fit: cover;
  }

  .picture-street {
    grid-column-start: span 2;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    inline-size: 491px;
  }

  .section__examples .section__title {
    inline-size: 315px;
  }

  .section {
    grid-column-gap: 10px;
  }

  .section__examples .article__box {
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-column-gap: 20px;
  }
}
