/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_dark {
  /* Дублируем переменные для тёмной темы */
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --header-title-color: #db00ff;
  --section-title-color: #ff0070;
  --text-title-color: #000028;
  --text-color: #f1b2ce;
  --button-hover-border-color: rgba(255, 0, 112, 0.4);
  --display-toggle: initial;
}

/* Остальные стили */
