/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* Дублируем переменные для тёмной темы */
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --header-title-color: #db00ff;
  --section-title-color: #ff0070;
  --text-title-color: #000028;
  --text-color: #f1b2ce;
  --button-hover-border-color: rgba(255, 0, 112, 0.4);
  --display-toggle: initial;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-font-size: 18px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;

  --main-margin: 40px;
  --small-gap: 10px;
  --big-gap: 20px;
  --header-footer-padding: 10px;
  --header-footer-margin-block: 40px;
  --first-intersection-gap: 40px;
  --intersection-gap: 50px;
  --main-padding-inline: 10px;
  --grid-column-gap: 20px;
  --decorative-element-inset: 10px;
}

/* Остальные стили */

@media (min-width: 768px) {
  :root {
    --header-footer-padding: 20px;
    --intersection-gap: 80px;
    --first-intersection-gap: 60px;
    --main-padding-inline: 20px;
    --header-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --decorative-element-inset: 20px;
    --main-margin: 60px;
  }

  .header {
    grid-template-rows: 1fr auto 1fr;
    gap: 20px;
  }

  .header__title {
    margin: -20px;
  }

  .header__text {
    inline-size: 364px;
    justify-self: end;
  }

  .section__reasons,
  .section__advice {
    grid-template-columns: 1fr 2fr;
    grid-column-gap: var(--grid-column-gap);
  }

  .section__reasons .article__title:first-child,
  .section__advice .article__title:first-child {
    margin-block-start: 0;
  }

  .section__examples .section__title {
    inline-size: 236px;
  }

  .gallery__box {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__title {
    margin-block-end: 20px;
  }
  .picture-sunset {
    grid-column-start: span 2;
  }

  .picture-ice-cream {
    grid-row-start: span 2;
    block-size: 100%;
    object-fit: cover;
  }

  .picture-tape {
    grid-row-start: span 2;
    block-size: 100%;
    object-fit: cover;
  }

  .picture-street {
    grid-column-start: span 2;
  }

  .footer {
    margin-block-start: 60px;
  }

  
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    inline-size: 491px;
  }

  .section__examples .section__title {
    inline-size: 315px;
  }

  .section {
    grid-column-gap: 10px;
  }

  .section__examples .article__box {
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-column-gap: 20px;
  }


}
