/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* Дублируем переменные для тёмной темы */
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --header-title-color: #db00ff;
  --section-title-color: #ff0070;
  --text-title-color: #000028;
  --text-color: #f1b2ce;
  --button-hover-border-color: rgba(255, 0, 112, 0.4);
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-font-size: 18px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --small-gap: 10px;
  --big-gap: 20px;
  --header-footer-padding: 10px;
  --intersection-gap: 50px;
  --first-intersection-gap: 40px;
  --main-padding-inline: 10px;
  --grid-column-gap: 20px;

  --display-toggle: initial;
}

/* Остальные стили */
