/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_light {
  /* Переменные светлой темы */
  --background-color: #fff1f7;
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
  --section-title-color: #353430;
  --text-title-color: #353430;
  --text-color: #353430;
  --display-toggle: none;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --background-color: #fff1f7;
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --section-title-color: #353430;
    --text-title-color: #353430;
    --text-color: #353430;
    --button-hover-border-color: rgba(50, 49, 45, 0.4);
    --display-toggle: none;
  }
}

/* Остальные стили */
