/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* Переменные светлой темы */
  --background-color: #fff1f7;
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
  --section-title-color: #353430;
  --text-title-color: #353430;
  --text-color: #353430;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-font-size: 18px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --small-gap: 10px;
  --big-gap: 20px;
  --header-footer-padding: 10px;
  --intersection-gap: 50px;
  --first-intersection-gap: 40px;
  --main-padding-inline: 10px;
  --grid-column-gap: 20px;

  --display-toggle: none;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --background-color: #fff1f7;
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --section-title-color: #353430;
    --text-title-color: #353430;
    --text-color: #353430;
    --button-hover-border-color: rgba(50, 49, 45, 0.4);
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --text-font-size: 18px;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --small-gap: 10px;
    --big-gap: 20px;
    --header-footer-padding: 10px;
    --intersection-gap: 50px;
    --first-intersection-gap: 40px;
    --main-padding-inline: 10px;
    --grid-column-gap: 20px;

    --display-toggle: none;
  }
}

/* Остальные стили */
